<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/baseScript")
</head>
<body ng-app="ssiiWallet">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("SSII Hierarchy", "Index", "HomeView", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @Html.ActionLink("Consultants", "Index", "ConsultantView", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Managers", "Index", "ManagerView", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Project Managers", "Index", "ProjectManagerView", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Projects", "Index", "ProjectView", new { area = "" }, new { @class = "nav-item nav-link" })
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content mt-4 mb-2" ng-app="ssiiWallet">
        @RenderBody()
    </div>

    <footer class="mt-4 pt-2 pb-2 border-top bg-light">
        <p class="text-center">SSII Hierarchy - Quang Huy NGUYEN - 2020</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
